{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "trailingComma": "es5",
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": true
}
